<!DOCTYPE html>  
<html>  
 <head>  
  <meta charset="utf-8">  
    <title>水利署防救災決策輔助系統</title>  
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
 </head>  
<body id="page-top">  
    <video id="video" autoplay="true"  muted="muted"></video>
    <script>
      var video = document.getElementById('video');
      var videoSrc = 'http://192.168.115.1:1935/shinhir/78c2ae124fff476d842bb00c5b764798/playlist.m3u8';
      if (Hls.isSupported()) 
      {
        var hls = new Hls();
        hls.loadSource(videoSrc);
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function() {
          video.play();
        });
      }
      else if (video.canPlayType('application/vnd.apple.mpegurl')) 
      {
        video.src = videoSrc;
        video.addEventListener('loadedmetadata', function() {
          video.play();
        });
      }
    </script>
</body>  
</html>  